@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;600&display=swap');

* {
  background-color: #282a36;
  font-family: 'Fredoka', sans-serif;
  color: #f8f9fa;
}

h1 {
  text-align: center;
  color: #945885;
  font-weight: 600;
}

h2 {
  text-align: center;
  color: #945885;
  font-weight: 300;
}

h3 {
  text-align: center;
  font-size: 1rem;
  color: #cbc0d3;
  margin-bottom: 2rem;
  font-weight: 300;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gametype {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.gamename {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.letter-box {
  border: 2px solid #343746;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  /* border: 2px solid black; */
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  min-width: 2rem;
  border-radius: 10%;
  cursor: pointer;
  text-transform: uppercase;
}
